<div
  class="rounded-xs py-4 px-5 grid gap-y-3 gap-x-8 max-w-lg"
  [class]="backgroundClass"
  [class.grid-cols-2]="hints.length > 3"
  [class.grid-cols-1]="hints.length <= 3"
>
  @if (title) {
    <p
      class="col-span-full text-dark uppercase weight-bold text-2xs pb-2 border-b border-b-[#C3C6D633] tracking-tighter"
    >
      {{ title }}
    </p>
  }
  @for (hint of hints; track hint.label) {
    <div class="hint-item flex items-center gap-2">
      @if (hint.valid) {
        <svg icon="checkMark" class="size-3 text-[#004E32]"></svg>
      } @else {
        <svg icon="checkMark" class="size-3 text-neutral-grey-light"></svg>
      }

      <span class="weight-regular leading-2xs text-dark text-2xs">
        {{ hint.label }}
      </span>
    </div>
  }
</div>
