.sidebar {
  width: 256px;
  z-index: 9999;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 80px;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 256px;
    transform: translateX(-100%);
  }

  .sidebar.mobile-open {
    transform: translateX(0);
  }

  .sidebar.collapsed {
    width: 256px;
  }
}