<aside
  class="sidebar fixed top-0 left-0 min-h-screen bg-surface-low flex-col gap-2 p-4 items-center justify-between text-xs text-neutral-dark weight-medium leading-xs flex"
  [class.collapsed]="collapsed"
  [class.mobile-open]="mobileOpen"
>
  <div>
    <div
      class="h-17 w-full gap-2 flex items-center justify-start pl-1"
      [class.lg:justify-center]="collapsed"
      [class.lg:justify-start]="!collapsed"
      [class.lg:px-2]="!collapsed"
      [class.lg:gap-2]="!collapsed"
    >
      <svg icon-logo class="text-primary size-5"></svg>

      @if (isMobile || !collapsed) {
        <p class="uppercase text-neutral-dark weight-bold leading-lg text-base">taskly</p>
      }
    </div>

    <ul
      class="flex flex-col gap-1 outline-none w-full"
      [class.w-56]="isMobile || !collapsed"
      [class.w-full]="collapsed"
    >
      @for (item of navItems; track item.route) {
        <li>
          <a
            class="flex items-center justify-start gap-2 rounded-xs py-3 px-2 lg:px-3 transition hover:bg-white font-medium"
            [routerLink]="item.route"
            routerLinkActive="bg-white text-primary cursor-pointer shadow-[0_1px_2px_0_#0000000D]"
            [routerLinkActiveOptions]="{ exact: item.route === '/project' }"
            (click)="closeSidebar()"
          >
            @switch (item.icon) {
              @case ('projects') {
                <svg icon-projects class="size-5"></svg>
              }
              @case ('epics') {
                <svg icon-epics class="size-5"></svg>
              }
              @case ('tasks') {
                <svg icon-tasks class="size-5"></svg>
              }
              @case ('members') {
                <svg icon-members class="size-5"></svg>
              }
              @case ('details') {
                <svg icon-details class="size-5"></svg>
              }
            }
            @if (isMobile || !collapsed) {
              <span>{{ item.label }}</span>
            }
          </a>
        </li>
      }
    </ul>
  </div>
  <div class="flex flex-col gap-3 w-full">
    <div
      class="gap-2 pl-1 p-2 cursor-pointer lg:justify-center hidden md:flex"
      [class.lg:justify-start]="!collapsed"
      (click)="toggleSidebar()"
    >
      @if (isMobile || !collapsed) {
        <svg icon-collapse class="size-5"></svg>
        <span class="hidden lg:block">Collapse</span>
      } @else {
        <svg icon-collapse-open class="size-5"></svg>
      }
    </div>
    <div
      class="flex gap-2 p-2 text-error cursor-pointer justify-start lg:justify-center"
      [class.lg:justify-start]="!collapsed"
      (click)="logout($event)"
    >
      <svg icon-logout class="w-4.5 h-4.5 text-error"></svg>
      @if (isMobile || !collapsed) {
        <span>Logout</span>
      }
    </div>
  </div>
</aside>
