<app-form-layout
  title="Welcome Back"
  description="Please enter your details to access
  your workspace"
  titleClass="text-center"
  descriptionClass="text-center max-w-60 mx-auto md:max-w-none"
  hightClass="pt-[104px] md:py-[clamp(1.5rem,14.36dvh,9.1875rem)] min-h-[90vh] md:min-h-auto"
  contentClass="p-6 md:p-12 max-w-120"
>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="flex flex-col gap-6">
      <div class="login-form">
        <app-input
          [showEmailIcon]="true"
          label="Email"
          mobileLabel="Email Address"
          placeholder="yourname@company.com"
          type="email"
          formControlName="email"
          [errorMessage]="getError('email')"
        />
      </div>

      <app-input
        [forgot]="true"
        label="Password"
        placeholder="Password"
        [showPasswordToggle]="true"
        type="password"
        formControlName="password"
        [errorMessage]="getError('password')"
        [serverError]="serverError"
      />

      <div class="flex justify-between">
        <label class="flex items-center gap-2 cursor-pointer">
          <input
            type="checkbox"
            class="w-4 h-4 cursor-pointer appearance-none rounded border border-[#C3C6D6] bg-surface-low checked:bg-surface-highest checked:border-[#C3C6D6] relative checked:after:content-['✔'] checked:after:absolute checked:after:inset-0 checked:after:flex checked:after:items-center checked:after:justify-center checked:after:text-white checked:after:text-xs"
            formControlName="rememberMe"
          />
          <span class="text-xs weight-medium leading-xs text-dark">Remember Me</span>
        </label>

        <a class="text-primary text-xs weight-medium leading-xs hidden md:block" routerLink="/forgot-password"
          >Forgot Password?</a
        >
      </div>
      <button class="btn btn-primary">
        @if (isLoading) {
          <span>Loading...</span>
        } @else {
          <span>Log in</span>
        }
      </button>
    </div>
  </form>
  <div class="border-t border-[#C3C6D626] mt-8"></div>
  <div class="pt-8 flex gap-1 justify-center mt-auto md:mt-0">
    <span class="text-neutral-mid text-xs weight-regular leading-xs">Don't have an account? </span>
    <a class="text-primary text-xs weight-semibold leading-xs" routerLink="/signup">Sign Up</a>
  </div>
</app-form-layout>
