<app-form-layout title="Welcome Back" description="Please enter your details to access
  your workspace" titleClass="text-center" hightClass="pt-[104px] md:pt-[147px] md:pb-[147px] min-h-[90vh] md:min-h-auto">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="flex flex-col gap-6">
      <app-input
        label="Email"
        placeholder="yourname@company.com"
        type="email"
        formControlName="email"
        [errorMessage]="getError('email')"
      />

      <app-input
        label="Password"
        placeholder="Password"
        [showPasswordToggle]="true"
        type="password"
        formControlName="password"
        [errorMessage]="getError('password')"
        [serverError]="serverError"
      />

      <div class="flex justify-between">
        <label class="flex items-center gap-2 cursor-pointer">
          <input type="checkbox" class="w-4 h-4 cursor-pointer accent-gray-800" formControlName="rememberMe" />
          <span class="text-xs weight-medium leading-xs text-dark">Remember Me</span>
        </label>

        <a class="text-primary text-xs weight-medium leading-xs" routerLink="/forgot-password">Forgot Password?</a>
      </div>
      <button class="btn btn-primary">
        @if (isLoading) {
          <span>Loading...</span>
        } @else {
          <span>Log in</span>
        }
      </button>
    </div>
  </form>
  <div class="pt-8 flex gap-1 justify-center mt-auto md:mt-0">
    <span class="text-neutral-mid text-xs weight-regular leading-xs">Don't have an account? </span>
    <a class="text-primary text-xs weight-semibold leading-xs" routerLink="/signup">Sign Up</a>
  </div>
</app-form-layout>
