<div class="md:min-h-screen min-h-248.25 w-full mx-auto">
  <div class="flex justify-between items-center">
    <div class="flex flex-col gap-4">
      <div class="hidden md:flex text-2xs weight-bold leading-2xs tracking-wide gap-2 capitalize">
        <a routerLink="/project" class="text-neutral-light">PROJECTS</a>
        <span class="text-neutral-light">›</span>
        <a routerLink="/project" class="text-neutral-light">Project Name</a>
        <span class="text-neutral-light">›</span>
        <a routerLink="../" class="text-primary">epics</a>
      </div>

      <h1
        class="text-2xl md:text-4xl weight-semibold md:weight-bold text-neutral-dark leading-8 md:leading-10 tracking-[-0.6px] md:tracking-[-0.9px] hidden md:block"
      >
        Project Epics
      </h1>
    </div>
    <div class="self-end flex gap-8">
      <div class="relative w-75.75">
        <svg icon-search class="absolute left-4 top-1/2 size-2.5 text-dark -translate-y-1/2"></svg>

        <input
          type="text"
          placeholder="Search epics..."
          class="w-full rounded-2xs bg-surface-highest py-3 pl-10 pr-4 text-xs focus:outline-none"
        />
      </div>
      <button class="btn btn-primary gradient-primary">+ New Epic</button>
    </div>
  </div>
  <section class="py-10 grid grid-cols-1 md:grid-cols-2 gap-6">
    @for (epic of epics; track epic.id) {
      <app-epic-card [epic]="epic" />
    }
  </section>
  <app-pagination />
</div>
