<div class="relative" (appClickOutside)="isOpen = false" appClickOutside>
  <button
    type="button"
    (click)="isOpen = !isOpen"
    class="w-full border text-neutral-dark py-3 px-4 border-[#C3C6D633] shadow-[0px_1px_2px_0px_#0000000D] rounded-lg focus:outline-none text-xs bg-white"
  >
    <div class="flex items-center gap-2">
      @if (selectedOption.icon === 'board') {
        <svg icon="dashboard" class="text-[#041B3C] size-3.5"></svg>
      } @else {
        <svg icon="noTasksList" class="text-[#003D9B] h-1.5 w-3.5"></svg>
      }

      <span class="text-xs weight-medium text-neutral-dark">{{ selectedOption.label }}</span>
      <svg icon="arrowDown" class="text-dark size-5"></svg>
    </div>
  </button>

  @if (isOpen) {
    <div
      class="absolute top-full mt-1 w-full bg-white border-[#C3C6D633] shadow-[0px_1px_2px_0px_#0000000D] rounded-lg z-10"
    >
      @for (option of options; track option.value) {
        <button
          type="button"
          class="w-full px-4 py-3 flex items-center gap-2 hover:bg-gray-100 text-xs weight-medium text-neutral-dark"
          (click)="select(option)"
        >
          @if (option.icon === 'board') {
            <svg icon="dashboard" class="text-[#041B3C] size-3.5"></svg>
          } @else {
            <svg icon="noTasksList" class="text-[#003D9B] h-1.5 w-3.5"></svg>
          }

          {{ option.label }}
        </button>
      }
    </div>
  }
</div>
