.layout {
  display: grid;
  grid-template-columns: 80px 1fr;
  transition: grid-template-columns 0.3s ease;
}

@media (min-width: 1024px) {
  .layout {
    grid-template-columns: 256px 1fr;
  }

  .layout.collapsed {
    grid-template-columns: 80px 1fr;
  }
}