<div class="md:min-h-screen min-h-248.25 w-full max-w-212 mx-auto">
  <div class="hidden md:flex text-2xs weight-bold leading-2xs tracking-wide gap-2 mb-8 capitalize">
    <p class="text-neutral-light cursor-pointer">PROJECTS</p>
    <span class="text-neutral-light">›</span>
    <p class="text-neutral-light">Project Alpha</p>
    <span class="text-neutral-light">›</span>
    <p class="text-neutral-light">epics</p>
    <span class="text-neutral-light">›</span>
    <p class="text-primary">new epic</p>
  </div>
  <h1
    class="text-2xl md:text-4xl weight-semibold md:weight-bold text-[#041B3C] mb-2 leading-8 md:leading-10 tracking-[-0.6px] md:tracking-[-0.9px]"
  >
    <!-- {{ pageTitle$ | async }} -->
    Create New Epic
  </h1>
  @if (isDesktop) {
    <p class="text-dark weight-regular max-w-lg">
      Define a major project phase or high-level milestone to group related tasks and track architectural progress.
    </p>
  } @else {
    <p class="text-dark weight-regular max-w-lg pb-6">
      Define a high-level goal and organizational structure for your architectural phase.
    </p>
  }
  <div class="rounded-lg md:border border-[#C3C6D61A] md:shadow-[0px_24px_48px_-12px_#041B3C0F] md:mt-10">
    <form
      class="md:p-8 md:py-10 flex flex-col gap-8 bg-background md:bg-white"
      [formGroup]="epicForm"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <app-input
          label="title"
          placeholder="e.g. Structural Foundation Phase"
          formControlName="title"
          [required]="true"
          [horizontal]="isDesktop"
          [errorMessage]="getError('title')"
        />
      </div>

      <div>
        <app-textarea
          formControlName="description"
          label="DESCRIPTION"
          [rows]="4"
          placeholder="Describe the scope and objectives of this epic..."
          [optional]="true"
          [maxLength]="500"
          [horizontal]="isDesktop"
        />
      </div>
      <div class="flex flex-col md:flex-row md:justify-between gap-6 md:gap-8">
        <div class="w-full">
          <label class="control-label">Assignee</label>

          <select class="input" formControlName="assignee">
            <option value="" disabled selected>Select a member</option>
            @for (member of members; track member.member_id) {
              <option [value]="member.user_id">
                {{ member.metadata.name }}
              </option>
            }
          </select>
        </div>
        <div class="w-full">
          <label class="control-label">deadline</label>
          <input type="date" [min]="today" class="input" formControlName="deadline" />
        </div>
      </div>
      <div class="md:border-b border-[#C3C6D626]"></div>
      <div class="flex flex-col md:flex-row md:justify-end md:items-center gap-4 my-2">
        <a type="button" class="btn btn-secondary md:btn-ghost w-full md:w-auto order-2 md:order-1" routerLink="../">Back</a>

        <button type="submit" class="btn btn-primary gradient-primary w-full md:w-auto order-1 md:order-2"  [disabled]="isLoading">
          {{ isLoading ? 'Loading...' : 'Create Epic' }}
        </button>
      </div>
    </form>
  </div>
</div>
