<div class="fixed bottom-0 left-0 right-0 h-16 bg-surface-low flex items-center justify-center z-50">
  <ul class="flex items-center gap-8">
    @for (item of navItems; track item.route) {
      <li>
        <a
          [routerLink]="item.route"
          routerLinkActive="text-primary"
          [routerLinkActiveOptions]="{ exact: item.route === '/project' }"
          class="flex flex-col items-center justify-center gap-0.5 text-2xs font-medium transition"
        >
          @switch (item.icon) {
            @case ('projects') {
              <svg icon-projects class="size-5"></svg>
            }
            @case ('epics') {
              <svg icon-epics class="size-5"></svg>
            }
            @case ('tasks') {
              <svg icon-tasks class="size-5"></svg>
            }
            @case ('members') {
              <svg icon-members class="size-5"></svg>
            }
            @case ('details') {
              <svg icon-details class="size-5"></svg>
            }
          }

          <span>{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>
</div>
