<div class="flex flex-col items-center justify-center py-20 text-center">
  <div class="flex items-center justify-center p-10">
    <div
      class="relative w-72 h-72 rounded-sm bg-surface-low border-12 border-t-[#D9E1F3] border-l-[#D9E1F3] border-r-0 border-b-0 flex items-center justify-center"
    >
      <div
        class="absolute top-6 right-10 w-12 h-12 rounded-xs bg-white shadow-[0px_1px_2px_0px_#0000000D] rotate-[-13deg] flex items-center justify-center"
      >
        <svg icon="blueLayersIcon" class="size-5 text-[#0052CC]"></svg>
      </div>

      <div
        class="absolute bottom-12 left-10 w-10 h-10 rounded-xs bg-white shadow-[0px_1px_2px_0px_#0000000D] rotate-18 flex items-center justify-center"
      >
        <svg icon="pencilIcon" class="h-5 w-4.25 text-neutral-grey-light"></svg>
      </div>

      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-24 h-24 rounded-xl bg-surface-highest flex items-center justify-center shadow-[0px_8px_10px_-6px_#041B3C0D]"
      >
        <svg icon="microphoneIcon" class="w-6.25 h-10.75 text-[#003D9B]"></svg>
      </div>
    </div>
  </div>

  <h2 class="mt-10.5 text-4xl font-semibold text-neutral-dark leading-10 tracking-[-0.9px]">No Projects</h2>

  <p class="mt-4 max-w-md text-dark weight-regular text-sm leading-7.5">
    You don’t have any projects yet. Start by defining your first architectural workspace to begin tracking tasks and
    epics.
  </p>

  <a
    routerLink="/project/add"
    class="btn btn-primary gradient-primary mt-8 flex gap-2 shadow-[0px 25px 50px -12px #003D9B4D]"
  >
    <svg icon="plusStroke" class="text-white size-5"></svg>

    Create New Project
  </a>
</div>
