<app-modal [isOpen]="isOpen" (close)="close.emit()" width="56rem">
  <div class="grid grid-cols-[3fr_1.6fr]">
    <div class="bg-white border border-[#E8EDFF]">
      <div class="py-6 px-8 flex flex-col gap-2">
        <header class="flex gap-4 items-center">
          <span
            class="inline-block px-2 py-0.5 leading-4 rounded-2xs text-[12px] weight-bold tracking-wide bg-surface-highest text-neutral-dark"
          >
            TASK-124
          </span>
          <div class="border border-[#E8EDFF] p-2 text-dark rounded-lg">
            <p class="weight-medium text-xs leading-5 flex gap-1.5 items-center">
              <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6 12.7L0 8.03333L1.1 7.2L6 11L10.9 7.2L12 8.03333L6 12.7ZM6 9.33333L0 4.66667L6 0L12 4.66667L6 9.33333ZM6 7.63333L9.83333 4.66667L6 1.7L2.16667 4.66667L6 7.63333Z"
                  fill="#434654"
                />
              </svg>
              EPIC-102 (Core UI Overhaul)
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.2002 9.59961L12.0002 14.3996L16.8002 9.59961"
                  stroke="#6B7280"
                  stroke-width="1.8"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </p>
          </div>
        </header>
        <p class="text-md weight-bold text-neutral-dark leading-lg">Implement glassmorphism effect on modals</p>
      </div>
      <hr class="border-[#E8EDFF]" />
      <div class="p-8">
        <app-textarea
          variant="outlined"
          label="description"
          [rows]="17"
          placeholder="Detailed task description goes here. This involves updating the modal
container background to use semi-transparent surface colors with a 20px
backdrop-blur to align with the Digital Curator aesthetic. Ensure contrast
ratios remain accessible."
        />
      </div>
      <footer class="bg-surface-low py-4 px-8 flex justify-between">
        <span class="text-dark weight-medium text-xs leading-5 flex justify-center items-center gap-3">
          <svg icon-copylink class="h-3.75 w-2"></svg>
          Copy Link
        </span>

        <button class="bg-surface-highest py-2 px-4 rounded-xs text-neutral-dark weight-semibold text-xs leading-5">
          Close
        </button>
      </footer>
    </div>
    <div class="bg-surface-low p-8 flex flex-col gap-10">
      <div class="flex flex-col gap-4">
        <label for="status"> Status </label>

        <select
          id="status"
          formControlName="status"
          class="py-2.5 px-4 w-full rounded-xs text-[12px] weight-bold bg-success text-neutral-dark outline-none"
        >
          <option value="completed">Completed</option>
        </select>
      </div>

      <div class="flex flex-col gap-4">
        <label for="assignee"> Assignee </label>

        <select
          id="assignee"
          formControlName="assignee"
          class="py-2.5 px-4 w-full rounded-lg text-[12px] weight-bold border border-[#C9D7FF] bg-white text-neutral-dark outline-none"
        >
          <option value="">
            <div class="flex h-7 w-7 items-center justify-center rounded-full text-2xs weight-bold text-neutral-dark">
              AS
            </div>
            John Doe
          </option>
        </select>
      </div>

      <div class="flex flex-col gap-3">
        <label> Reporter </label>

        <div class="flex items-center gap-3">
          <div
            class="flex h-7 w-7 items-center justify-center rounded-full bg-[#DCE6FF] text-2xs weight-bold text-neutral-dark"
          >
            AS
          </div>

          <span class="text-xs font-medium text-neutral-dark"> Alex Sterling </span>
        </div>
      </div>

      <div class="flex flex-col gap-3 border-t border-[#E8EDFF] pt-4">
        <label class="text-sm font-semibold text-neutral-dark"> Due Date </label>

        <select
          formControlName="dueDate"
          class="py-2.5 px-4 w-full rounded-lg text-[12px] weight-bold border border-[#C9D7FF] bg-white text-neutral-dark outline-none"
        >
          <option>Oct 15, 2025</option>
        </select>
        <div class="flex items-center justify-between">
          <label> Created At </label>

          <span class="text-xs leading-5 font-meduim text-neutral-dark"> 10 Oct 2025 </span>
        </div>
      </div>
    </div>
  </div>
</app-modal>
