<div class="w-full rounded-sm bg-white p-4 shadow-[0_1px_2px_#0000000D] border-l-4 border-l-green">
  <div class="flex items-start justify-between">
    <span class="rounded-2xs px-3 py-1 text-[10px] font-bold text-green bg-success"> {{ epic.epic_id }} </span>

    <button class="cursor-pointer p-1 rounded hover:bg-neutral-light/20 hover:rounded-2xl">
      <svg icon-edit class="text-neutral-light size-3" />
    </button>
  </div>

  <h2 class="mt-4 text-base font-semibold leading-md text-neutral-dark">{{ epic.title }}</h2>

  <div class="mt-3 flex items-center gap-4">
    <div class="flex h-10 w-10 items-center justify-center rounded-xl text-neutral-dark text-xs font-bold bg-success">
      {{ epic.assignee.name ? getInitials(epic.assignee.name) : '--' }}
    </div>

    <div>
      <p class="text-2xs text-dark weight-regular leading-2xs">Assignee</p>
      <p class="text-xs font-semibold text-neutral-dark">{{ epic.assignee.name }}</p>
    </div>
  </div>

  <div class="mt-8 flex items-center justify-between border-t border-[#F1F3FF] pt-5 text-2xs text-[#434654CC]">
    <div class="flex items-center gap-1">
      <svg icon-people class="size-2.5"></svg>

      <span
        >Created by: <span class="text-neutral-dark">{{ epic.created_by.name }}</span></span
      >
    </div>

    <div class="flex items-center gap-2">
      <svg icon-date class="size-2.5"></svg>

      <span>{{ epic.created_at | date: 'dd MMM yyyy' }}</span>
    </div>
  </div>
</div>
