<div [class.has-error]="!!errorMessage">
  <label class="control-label">
    {{ label }}
    @if (required) {
      <span class="text-error ml-1">*</span>
    }

    @if (optional) {
      <span>(Optional)</span>
    }
  </label>

  <div>
    <div class="input-field">
      <input
        class="input"
        [type]="inputType"
        [placeholder]="placeholder"
        [value]="value"
        [disabled]="disabled"
        (input)="updateValue($event)"
        (blur)="onTouched()"
      />

      @if (showPasswordToggle) {
        <button type="button" class="toggle-btn" (click)="toggleVisibility()">
          @if (isVisible) {
            <svg icon-hide-password class="size-6 text-[#737685]"></svg>
          } @else {
            <svg icon-show-password class="size-6 text-[#737685]"></svg>
          }
        </button>
      }
    </div>

    @if (errorMessage) {
      <div class="flex gap-2 items-center pt-2">
        <svg icon-error class="text-error size-3.5" />
        <small class="error-message">
          {{ errorMessage }}
        </small>
      </div>
    }
    @if (serverError) {
      <small class="server-error">
        {{ serverError }}
      </small>
    }
  </div>
  @if (hint && !errorMessage) {
    <p class="hidden md:block text-2xs text-neutral-light mt-1.5">
      {{ hint }}
    </p>
  }
</div>
