<div [class.has-error]="!!errorMessage" [class.horizontal]="horizontal">
  <label class="control-label">
    <span class="label-text label-text--mobile">{{ mobileLabel || label }}</span>
    <span class="label-text label-text--desktop">{{ label }}</span>
    
    @if (required) {
      <span class="text-error ml-1">*</span>
    }

    @if (optional) {
      <span class="text-neutral-grey-light ">(Optional)</span>
    }

    @if (forgot) {
      <a class="text-primary text-2xs weight-bold leading-xs block md:hidden capitalize ms-auto" routerLink="/forgot-password"
        >Forgot?</a
      >
    }
  </label>

  <div class="field-wrapper">
    <div class="input-field">
      @if (showEmailIcon) {
        <svg icon="email" class="leading-icon size-5 text-neutral-grey-light"></svg>
      }

      <input
        class="input"
        [type]="inputType"
        [class.has-leading-icon]="showEmailIcon"
        [placeholder]="placeholder"
        [value]="value"
        [disabled]="disabled"
        (input)="updateValue($event)"
        (blur)="onTouched()"
      />

      @if (showPasswordToggle) {
        <button
          type="button"
          class="toggle-btn"
          (click)="toggleVisibility()"
          [attr.aria-label]="isVisible ? 'Hide password' : 'Show password'"
        >
          @if (isVisible) {
            <svg icon="hidePassword" class="size-6 text-neutral-grey-light"></svg>
          } @else {
            <svg icon="showPassword" class="size-6 text-neutral-grey-light"></svg>
          }
        </button>
      }
    </div>

    @if (errorMessage) {
      <div class="flex gap-2 items-center pt-2">
        <svg icon="required" class="text-error size-3.5" />
        <small class="error-message">
          {{ errorMessage }}
        </small>
      </div>
    }
    @if (serverError) {
      <small class="server-error">
        {{ serverError }}
      </small>
    }
  </div>
  @if (hint && !errorMessage) {
    <p class="hidden md:block text-2xs text-neutral-light mt-1.5">
      {{ hint }}
    </p>
  }
</div>
