.pagination {
  display: flex;
  gap: .5rem;
}

.pagination button {
  width: 34px;
  height: 34px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #e4e7ec;
  background: #fff;
  border-radius: 2px;
}

.pagination .active {
  background: var(--color-primary);
  color: #fff;
}