<div class="flex flex-col gap-6 min-h-[726.5px]">
  @if (projects.length > 0 && !isError) {
    <header class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between">
      <div>
        <h1 class="text-3xl font-semibold text-neutral-dark">Projects</h1>
        <p class="text-dark">Manage and curate your projects</p>
      </div>
      @if (isLoading) {
        <div class="hidden md:flex justify-end">
          <div class="skeleton h-12 w-48 rounded-lg"></div>
        </div>
      } @else {
        <a class="btn btn-primary bg-gradient-primary hidden md:flex" routerLink="/project/add">+ Create New Project</a>
      }
    </header>
  }

  @if (isLoading) {
    <app-skelton />
  } @else if (isError) {
    <app-project-error (retry)="getProjects()" />
  } @else if (projects.length === 0) {
    <app-empty-projects />
  } @else {
    <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 md:mt-8">
      @for (project of projects; track project.id) {
        <app-project-card [project]="project" />
      }

      <a
        routerLink="/project/add"
        class="min-h-52.5 border-2 border-dashed border-[#C3C6D633] rounded-xl bg-white hidden md:flex flex-col justify-center items-center gap-3 cursor-pointer"
      >
        <span class="w-10.5 h-10.5 rounded-full bg-[#eef4ff] flex items-center justify-center text-[22px]"> + </span>

        <span class="text-xs font-bold uppercase text-dark tracking-wide"> Add Project </span>
      </a>
    </section>
  }

  <div class="flex justify-end md:hidden mb-10">
    <a
      routerLink="/project/add"
      class="w-14 h-14 rounded-xl bg-primary gradient-primary text-white text-2xl shadow-lg flex items-center justify-center"
    >
      +
    </a>
  </div>

  @if (!isLoading && projects.length > 0 && !isError) {
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      [totalCount]="totalCount"
      [pageSize]="limit"
      (pageChange)="changePage($event)"
    />
  }
</div>

@if (!isLoading && !isError) {
  <div
    class="md:hidden h-1"
    appInfinteScroll
    (scrolled)="loadMore()"
  ></div>
}
