.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #eef2ff;
}

.skeleton::after {
  content: '';
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(90deg, #E8EDFF 25%, #F1F3FF 50%, #E8EDFF 75%);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}