<div [class.has-error]="hasError">
  <label class="control-label block uppercase weight-bold text-2xs mb-1">
    {{ label }}

    @if (optional) {
      <span class="text-[#737685]">(Optional)</span>
    }
  </label>

  <div class="input-wrapper">
    <ng-content select="input, div" />

    @if (isPassword) {
      <button type="button" class="toggle-btn" (click)="toggleVisibility()">
        @if (isVisible) {
          <app-hide-password />
        } @else {
          <app-show-password />
        }
      </button>
    }
    @if (hasError) {
      <div class="error-message">
        {{ errorMessage }}
      </div>
    }
  </div>

  <ng-content select="small, p" />
</div>
