<nav class="flex items-center justify-between w-full px-6 py-3 bg-transparent border-b border-[#0000001A]">
  <button class="lg:hidden cursor-pointer flex items-center gap-4" (click)="openMenu()">
    <svg icon-menu class="size-5"></svg>
    <p class="uppercase text-neutral-dark weight-bold leading-lg text-base">taskly</p>
  </button>

  <div class="flex items-center gap-4 ml-auto">
    <div class="flex flex-col items-end border-l border-[#C3C6D626] pl-3">
      <span class="text-xs text-neutral-dark weight-semibold hidden md:block">
        {{ user?.name }}
      </span>
      <span class="text-xs text-primary weight-bold hidden md:block">
        {{ user?.department || user?.job_title }}
      </span>
    </div>

    <div class="relative">
      <div
        class="bg-primary-container rounded-sm w-10 h-10 text-white flex items-center justify-center cursor-pointer"
        (click)="openDropDown()"
        (appClickOutside)="openDropdownMenu = false"
        appClickOutside
      >
        {{ user?.name ?? '' | initials }}
      </div>

      @if (openDropdownMenu) {
        <app-dropdown-menu [items]="logoutItems" top="top-12" width="w-40" />
      }
    </div>
  </div>
</nav>
