<nav class="flex items-center justify-between w-full px-6 py-3 bg-transparent border-b border-[#0000001A]">
  <button class="md:hidden cursor-pointer flex items-center gap-4" (click)="openMenu()">
    <svg icon-menu class="size-5"></svg>
    <p class="uppercase text-neutral-dark weight-bold leading-lg text-base">taskly</p>
  </button>

  <div class="flex items-center gap-4 ml-auto">
    <div class="flex flex-col items-end">
      <span class="text-xs text-neutral-dark weight-semibold hidden md:block">
        {{ user?.name }}
      </span>
      <span class="text-xs text-primary weight-bold hidden md:block">
        {{ user?.department }}
      </span>
    </div>

    <div class="relative">
      <div
        class="bg-primary-container rounded-sm w-10 h-10 text-white flex items-center justify-center cursor-pointer"
        (click)="openDropDown()"
        (appClickOutside)="openDropdownMenu = false" appClickOutside
      >
        {{ userInitial }}
      </div>

      @if (openDropdownMenu) {
        <div
          class="absolute right-0 top-12 w-40 px-4 transition py-2 cursor-pointer items-center bg-white text-error rounded-xs hover:bg-background/90 hover:rounded-xs shadow-lg  z-50 flex gap-2"
          (click)="logout()"
        >
          <svg icon-logout class="size-5 text-error"></svg>
          <button class="w-full text-left cursor-pointer">Logout</button>
        </div>
      }
    </div>
  </div>
</nav>
