<app-form-layout
  title="Create a New Password"
  description="Create a new, strong password to secure your workstation access."
  [headerOutside]="true"
  contentClass="p-6 md:p-10"
  titleClass="text-center md:text-start"
  descriptionClass="text-center md:text-start"
  containerClass="bg-white"
  hightClass="min-h-auto pb-6"
>
  <form class="flex flex-col gap-6" [formGroup]="form">
    <app-input
      label="New Password"
      placeholder="********"
      [showPasswordToggle]="true"
      type="password"
      auto-complete="new-password"
      formControlName="password"
      [errorMessage]="getError('password')"
    />
    <app-input
      label="Confirm Password"
      placeholder="********"
      type="password"
      auto-complete="new-password"
      formControlName="confirmPassword"
      [errorMessage]="getError('confirmPassword')"
    />

    <app-password-hints [hints]="hints" title="Security Requirements" backgroundClass="bg-[#F1F3FF80]" />

    <button class="btn btn-primary">Update Password</button>
    <a
      class="flex items-center justify-center gap-2 text-primary text-xs weight-medium cursor-pointer"
      routerLink="/login"
    >
      <span>Back to log in</span>
    </a>
  </form>
</app-form-layout>
