@if (successMessage) {
  <div class="min-h-screen flex flex-col items-center justify-center gap-6">
    <p class="text-center text-neutral-dark text-xs weight-medium">
      {{ successMessage }}
    </p>

    <a class="text-primary text-xs weight-medium cursor-pointer" routerLink="/login"> Back to log in </a>
  </div>
} @else if (accessToken) {
  <app-form-layout
    title="Create a New Password"
    description="Create a new, strong password to secure your workstation access."
    [headerOutside]="true"
    contentClass="p-6 md:p-10"
    titleClass="text-center md:text-start"
    descriptionClass="text-center md:text-start"
    backgroundColor="bg-white"
    hightClass="min-h-auto pb-6"
    contentClass="max-w-lg p-6 md:p-12"
  >
    <form class="flex flex-col gap-6" [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-input
        label="New Password"
        placeholder="********"
        [showPasswordToggle]="true"
        type="password"
        auto-complete="new-password"
        formControlName="password"
        [errorMessage]="getError('password')"
      />
      <app-input
        label="Confirm Password"
        placeholder="********"
        type="password"
        auto-complete="new-password"
        formControlName="confirmPassword"
        [errorMessage]="getError('confirmPassword')"
      />

      <app-password-hints [hints]="hints" title="Security Requirements" backgroundClass="bg-[#F1F3FF80]" />

      <button class="btn btn-primary">{{ isLoading ? 'Updating...' : 'Update Password' }}</button>
      <a
        class="flex items-center justify-center gap-2 text-primary text-xs weight-medium cursor-pointer"
        routerLink="/login"
      >
        <span>Back to log in</span>
      </a>
    </form>
  </app-form-layout>
} @else {
  <div class="min-h-screen flex flex-col items-center justify-center gap-6">
    <p class="text-center text-neutral-dark text-xs weight-medium py-4">Invalid or expired reset link.</p>

    <a
      class="flex items-center justify-center gap-2 text-primary text-xs weight-medium cursor-pointer"
      routerLink="/login"
    >
      <span>Back to log in</span>
    </a>
  </div>
}
