<div class="textarea-wrapper" [class.horizontal]="horizontal">
  <label class="control-label">
    {{ label }}

    @if (optional) {
      <span>Optional</span>
    }
  </label>

  <div class="field-wrapper">
    <textarea
      class="textarea"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      [rows]="rows"
      [attr.maxlength]="maxLength"
      (input)="updateValue($event)"
      (blur)="onTouched()"
      [class.outlined]="variant === 'outlined'"
    ></textarea>

    @if (maxLength) {
      <p class="text-right text-2xs weight-medium text-neutral-mid mt-1.5 hidden md:block">{{ value.length }} / {{ maxLength }} characters</p>
    }
    @if (maxLength) {
      <p class="text-right text-2xs weight-medium text-neutral-mid mt-1.5 block md:hidden">{{ value.length }} / {{ maxLength }}</p>
    }
  </div>
</div>