<div class="flex flex-col gap-6 min-h-[726.5px]">
  @if (isLoading) {
    <app-skelton />
  } @else if (isError) {
    <app-project-error />
  } @else {
    <header class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between">
      <div>
        <div class="hidden md:flex text-2xs weight-bold leading-2xs tracking-wide gap-2 ml-2 mb-2">
          <p class="text-neutral-grey">PROJECTS</p>
          <span class="text-neutral-grey">›</span>
          <p class="text-neutral-grey">{{ projectName | uppercase }}</p>
          <span class="text-neutral-grey">›</span>
          <p class="text-primary">MEMBERS</p>
        </div>

        <h1 class="text-3xl font-semibold text-neutral-dark text-center md:text-start pt-4 md:pt-0">
          Projects Members
        </h1>
      </div>

      <a class="btn btn-primary bg-gradient-primary hidden md:flex" routerLink="/project/add"> Invite Members </a>
    </header>

    <div class="bg-white rounded-lg md:border-4 border-[#F1F3FF] overflow-hidden md:w-197.25 md:mx-auto md:my-16">
      <div
        class="hidden md:grid grid-cols-[2fr_1fr_60px] items-center px-6 py-4 bg-[#E0E8FF4D] text-dark border-neutral-light text-2xs uppercase tracking-wide weight-bold"
      >
        <span>Member</span>
        <span class="ps-3">Role</span>
        <span class="text-center">Actions</span>
      </div>

      @for (member of members; track member.member_id) {
        <div
          class="flex items-center justify-between gap-4 md:grid md:grid-cols-[2fr_1fr_60px] px-6 py-5 border-b border-neutral-light last:border-none"
        >
          <div class="flex items-center gap-4">
            <div
              class="w-11 h-11 rounded-xl bg-[#E8F0FF] flex items-center justify-center text-xs font-bold text-primary"
            >
              {{ getInitials(member.metadata.name) }}
            </div>

            <div class="flex flex-col">
              <span class="weight-semibold leading-sm text-xs text-neutral-dark">
                {{ member.metadata.name }}
              </span>

              <span class="text-[12px] text-dark weight-regular leading-3">
                {{ member.email }}
              </span>
            </div>
          </div>

          <div class="flex flex-col items-end gap-2 md:contents">
            <div class="md:ps-3">
              <span
                class="px-3 py-1 md:rounded-full text-[10px] uppercase weight-bold tracking-tighter"
                [ngClass]="{
                  'bg-[#0052CC] text-white': member.role === 'owner',
                  'bg-surface-low text-[#51617E]': member.role === 'admin',
                  'bg-gray-100 text-gray-700': member.role === 'member',
                  'bg-slate-100 text-slate-600': member.role === 'viewer',
                }"
              >
                {{ member.role }}
              </span>
            </div>

            <div class="flex justify-center">
              <button class="cursor-pointer">
                <svg class="text-dark size-4" icon-edit></svg>
              </button>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
