@if (isMobile) {
  <app-form-layout
    title="Forgot password?"
    description="No worries, we'll send you reset instructions."
    contentClass="p-6 md:p-10"
    titleClass="text-center md:text-start"
    descriptionClass="text-center md:text-start"
    backgroundColor="bg-white"
    hightClass="min-h-auto px-6 pb-6 pt-12.75"
  >
    <div header class="bg-surface-highest w-12 h-12 rounded-xl m-auto flex justify-center items-center mb-6">
      <svg icon-forgot-password class="size-5 text-primary"></svg>
    </div>
    
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">
      <app-input
        label="Email Address"
        placeholder="Enter your email"
        type="email"
        formControlName="email"
        [errorMessage]="emailError"
        [serverError]="serverError"
      />

      <button class="btn btn-primary w-full" [disabled]="forgotPasswordForm.invalid || isLoading">
        {{ isLoading ? 'Sending...' : 'Send Reset Link' }}
      </button>

      <a class="flex items-center justify-center gap-2 text-primary text-xs weight-medium cursor-pointer" routerLink="/login">
        <svg icon-arrow-back class="size-3 text-primary"></svg>
        <span>Back to log in</span>
      </a>
    </form>
  </app-form-layout>

  @if (showSuccess) {
    <div class="bg-[#82F9BE4D] flex flex-col gap-3 mx-6 md:mx-0 p-4 pb-0 ">
      <div class="flex items-start gap-2 rounded-lg">
        <svg icon-check-circle class="size-5 text-green"></svg>
        <p class="text-green text-xs leading-5">
          If an account exists with this email, we've sent a password reset link.
        </p>
      </div>
      <div class="flex justify-center items-center gap-4 border-t border-[#C3C6D626] py-3">
        <p class="text-center text-2xs uppercase text-[#00523599] weight-bold tracking-wide">Didn't receive email?</p>

        <button
          class="flex h-6 items-center justify-center text-primary weight-bold tracking-wide cursor-pointer"
          [disabled]="resendDisabled || resendTrials === 0"
          (click)="resend()"
        >
          @if (resendDisabled) {
            Resend in {{ formattedTime }}
          } @else {
            Resend
          }
        </button>
      </div>
    </div>
  }
} @else {
  <app-form-layout
    title="Forgot password?"
    description="No worries, we'll send you reset instructions."
    contentClass="p-6 md:p-10 max-w-md"
    titleClass="text-center md:text-start"
    hightClass="pt-[60px] md:pt-[147px] md:pb-[147px] min-h-[90vh] md:min-h-auto"
    descriptionClass="text-center md:text-start"
    backgroundColor="bg-white"
  >
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">
      <app-input
        label="Email Address"
        placeholder="Enter your email"
        type="email"
        formControlName="email"
        [errorMessage]="emailError"
        [serverError]="serverError"
      />

      <button class="btn btn-primary w-full" [disabled]="forgotPasswordForm.invalid || isLoading">
        {{ isLoading ? 'Sending...' : 'Send Reset Link' }}
      </button>

      <a class="flex items-center justify-center gap-2 text-primary text-xs weight-medium cursor-pointer" routerLink="/login">
        <svg icon-arrow-back class="size-4 text-primary"></svg>

        <span>Back to log in</span>
      </a>
    </form>

    <!-- Bottom Section -->
    @if (showSuccess) {
      <div class="mt-10 border-t border-[#C3C6D626] pt-10 flex flex-col gap-8">
        <div class="flex items-start gap-3 rounded-lg bg-success/15 px-5 py-4">
          <svg icon-check-circle class="size-5 text-green"></svg>

          <p class="text-green text-xs leading-5">
            If an account exists with this email, we've sent a password reset link.
          </p>
        </div>

        <!-- Resend -->
        <div class="flex flex-col gap-4">
          <p class="text-center text-2xs uppercase tracking-[1px] weight-bold text-dark">
            Didn't receive the email?
          </p>

          <button
            class="flex h-12 w-full items-center justify-center gap-2 rounded-lg bg-surface-low text-[#737685] weight-medium cursor-pointer"
            [disabled]="resendDisabled || resendTrials === 0"
            (click)="resend()"
          >
            <svg icon-clock class="w-4.5 h-5 text-[#737685]"></svg>

            @if (resendDisabled) {
              <span>Resend in {{ formattedTime }}</span>
            } @else {
              <span>Resend</span>
            }
          </button>
        </div>
      </div>
    }
  </app-form-layout>
}
