<app-form-layout
  title="Forgot password?"
  description="No worries, we'll send you reset instructions."
>
  <div class="flex flex-col gap-6">

    <app-input
      label="Email Address"
      placeholder="Enter your email"
      type="email"
      formControlName="email"
    />

    <button class="btn btn-primary w-full">
      Send Reset Link
    </button>

    <a
      class="flex items-center justify-center gap-2 text-primary text-xs weight-medium cursor-pointer"
    >
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path
          d="M3.825 9L9.425 14.6L8 16L0 8L8 0L9.425 1.4L3.825 7H16V9H3.825Z"
          fill="currentColor"
        />
      </svg>

      <span>Back to log in</span>
    </a>

  </div>

  <!-- Bottom Section -->
  <div class="mt-10 border-t border-[#C3C6D626] pt-10 flex flex-col gap-8">

    <div
      class="flex items-center gap-3 rounded-lg bg-success/15 px-5 py-4"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
      >
        <path
          d="M8.6 14.6L15.65 7.55L14.25 6.15L8.6 11.8L5.75 8.95L4.35 10.35L8.6 14.6ZM10 20C4.477 20 0 15.523 0 10S4.477 0 10 0 20 4.477 20 10 15.523 20 10 20Z"
          fill="#005235"
        />
      </svg>

      <p class="text-green text-xs leading-5">
        If an account exists with this email, we've sent a password reset link.
      </p>
    </div>

    <!-- Resend -->
    <div class="flex flex-col gap-4">

      <p
        class="text-center text-2xs uppercase tracking-[1px] weight-bold text-on-surface-variant"
      >
        Didn't receive the email?
      </p>

      <button
        class="flex h-12 w-full items-center justify-center gap-2 rounded-lg bg-surface-low text-on-surface-variant weight-medium"
        disabled
      >
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path
            d="M10 18C5.582 18 2 14.418 2 10S5.582 2 10 2 18 5.582 18 10"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
          <path
            d="M10 6V10L13 12"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>

        <span>Resend in 05:00</span>
      </button>

    </div>

  </div>
</app-form-layout>