<app-form-layout
  title="Create your workspace"
  description="Join the editorial approach to task management."
  mobileDescription="Join the curated environment for institutional trust
  and task precision."
>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-6">
      <app-control label="Name" [errorMessage]="getError('name')">
        <input
          type="text"
          placeholder="Enter Your full name"
          formControlName="name"
          autocomplete="name"
          class="input"
        />
        <p class="hidden md:block text-label-sm text-neutral-light mt-2">3-50 characters, letters only.</p>
      </app-control>
      <app-control label="Email" [errorMessage]="getError('email')">
        <input
          type="email"
          placeholder="yourname@company.com"
          formControlName="email"
          autocomplete="email"
          class="input"
        />
      </app-control>
      <app-control label="Job Title (Optional)">
        <input
          type="text"
          placeholder="e.g. Project Manager"
          formControlName="job_title"
          class="input"
          autocomplete="organization-title"
        />
      </app-control>
      <div class="flex flex-col gap-6 md:flex-row md:justify-between">
        <app-control label="Password" [errorMessage]="getError('password')" [isPassword]="true" #passControl>
          <input
            #passwordInput
            [type]="passControl.isVisible ? 'text' : 'password'"
            placeholder="Password"
            formControlName="password"
            autocomplete="new-password"
            class="input"
          />
        </app-control>
        <app-control label="Confirm Password" [errorMessage]="getError('confirmPassword')">
          <input
            type="text"
            placeholder="Repeat your password"
            formControlName="confirmPassword"
            class="input"
            autocomplete="new-password"
          />
        </app-control>
      </div>
      <app-password-hints [hints]="hints" />
      <button class="btn btn-primary">Create Account</button>
    </div>
  </form>
  <div class="pt-8 flex gap-1 justify-center">
    <span class="text-neutral-mid text-body-md font-weight-body-md leading-body-sm">Already have an account?</span>
    <span class="text-primary text-body-md font-weight-headline-lg leading-body-sm">Log in</span>
  </div>
</app-form-layout>
