<app-logo />
<div class="pt-4 flex justify-center px-6 md:px-0" [class]="hightClass">
  <div class="w-full max-w-130 md:shadow-md md:rounded-sm flex flex-col" [ngClass]="[containerClass, contentClass]">
    <ng-content select="[header]"></ng-content>

    
    <div class="flex flex-col gap-2 pb-10">
      <h1 class="text-md weight-bold text-neutral-dark leading-lg tracking-normal" [class]="titleClass">
        {{ title }}
      </h1>

      <p class="text-xs weight-regular text-neutral-mid leading-xs" [class]="descriptionClass">
        {{ description }}
      </p>
      <p class="block md:hidden text-xs weight-regular text-neutral-mid leading-xs whitespace-pre-line">
        {{ mobileDescription }}
      </p>
    </div>
    <ng-content />
  </div>
</div>
