/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

html,
body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-background);
}

@theme {
  /* Action Blue & Tonal Range */
  --color-primary: #003d9b;
  --color-primary-container: #0052cc;
  --color-surface-highest: #d7e2ff;
  --color-surface-low: #f1f3ff;
  --color-background: #f9f9ff;
  --color-white: #ffffff;
  --color-dark: #434654;

  /* Slate Neutrals */
  --color-neutral-dark: #041b3c;
  --color-neutral-mid: #4f5f7b;
  --color-neutral-light: #c3c6d6;
  --color-neutral-grey: '#43465499';

  /* Semantic */
  --color-success: #82f9be;
  --color-error: #ba1a1a;
  --color-warning: #ffb300;
  --color-error-surface: #ffdad6;

  --color-green: #005235;

  /* Typography — Font Family */
  --font-sans: 'Inter', sans-serif;

  /* Typography — Font Size */
  --text-2xs: 0.6875rem; /* 11px — label */
  --text-xs: 0.875rem; /* 14px — body */
  --text-sm-xs: 1rem; /* 16px */
  --text-sm: 1.125rem; /* 18px — title */
  --text-base: 1.25rem; /* 20px */
  --text-md-sm: 1.5rem; /* 24px */
  --text-md: 1.875rem; /* 30px — title large */
  --text-lg: 2rem; /* 32px — headline */
  --text-xl: 3.5rem; /* 56px — display */

  /* Typography — Font Weight */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* Typography — Line Height */
  --leading-2xs: 16.5px; /* label */
  --leading-xs: 20px; /* body sm */
  --leading-sm: 22.75px; /* body md */
  --leading-md: 27px; /* title */
  --leading-lg: 36px; /* headline md */
  --leading-xl: 40px; /* headline lg */
  --leading-2xl: 56px; /* display */

  /* Typography — Letter Spacing */
  --tracking-tight: -2.8px;
  --tracking-normal: -0.75px;
  --tracking-wide: 1.1px;

  /* Border Radius */
  --rounded-2xs: 2px;
  --rounded-xs: 4px;
  --rounded-sm: 8px;
  --rounded-md: 16px;
  --rounded-full: 9999px;

  --box-shadow: 0px 24px 48px 0px #041b3c0f;
}

@utility weight-regular {
  font-weight: var(--weight-regular);
}

@utility weight-medium {
  font-weight: var(--weight-medium);
}

@utility weight-semibold {
  font-weight: var(--weight-semibold);
}

@utility weight-bold {
  font-weight: var(--weight-bold);
}

/* Border Radius */

@utility rounded-2xs {
  border-radius: var(--rounded-2xs);
}

@utility rounded-xs {
  border-radius: var(--rounded-xs);
}

@utility rounded-sm {
  border-radius: var(--rounded-sm);
}

@utility rounded-md {
  border-radius: var(--rounded-md);
}

@utility rounded-full {
  border-radius: var(--rounded-full);
}

@utility gradient-primary {
  background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-primary-container) 100%);
}

@utility shadow-box {
  box-shadow: var(--box-shadow);
}

@utility btn {
  min-height: 2.5rem; 
  padding: 1rem 0;
  border-radius: var(--rounded-sm);
  font-family: var(--font-sans);
  font-size: var(--text-xs);
  font-weight: var(--weight-semibold);
  line-height: var(--leading-xs);
  cursor: pointer;
  border: none;
  outline: none;
  transition: opacity 0.3s ease;
  box-shadow: 0 1px 2px #0000000d;
}

@utility btn-primary {
  background: linear-gradient(135deg, var(--color-primary), var(--color-primary-container));
  color: var(--color-white);
}

@utility btn-secondary {
  background: transparent;
  color: var(--color-primary);
  box-shadow: none;
  border: none;
  outline: none;
}

@utility btn-ghost {
  background: transparent;
  color: var(--color-neutral-mid);
  box-shadow: none;
  opacity: 0.6;
}

@media (min-width: 768px) {
  .btn {
    padding: 0.75rem 0;
    border-radius: var(--rounded-xs);
  }
}