<div class="max-w-290 mx-auto flex flex-col gap-8">
  <div>
    <p class="text-neutral-dark weight-bold text-md leading-9 tracking-normal">Weekly Planner</p>
    <p class="weight-regular leading-6 text-dark">Manage your deadlines and track team velocity.</p>
  </div>

  <app-statistics-toolbar
    [dateRange]="dateRange"
    [rangeError]="rangeError"
    [showDatePicker]="showDatePicker"
    [startDateISO]="startDateISO"
    [endDateISO]="endDateISO"
    [maxRangeDays]="maxRangeDays"
    [projectOptions]="projectOptions"
    [selectedProjectId]="selectedProjectId"
    [statusOptions]="statusOptions"
    [selectedStatus]="selectedStatus"
    (prevWeek)="prevWeek()"
    (nextWeek)="nextWeek()"
    (toggleDatePicker)="toggleDatePicker()"
    (closeDatePicker)="closeDatePicker()"
    (startDateChange)="onStartDateChange($event)"
    (endDateChange)="onEndDateChange($event)"
    (projectChange)="onProjectChange($event)"
    (statusChange)="onStatusChange($event)"
  ></app-statistics-toolbar>

  <app-summary-cards [cards]="summaryCards"></app-summary-cards>

  <app-week-calendar [days]="days"></app-week-calendar>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
    <app-status-donut-chart
      [totalTasks]="totalTasks"
      [donutCircumference]="donutCircumference"
      [donutSegments]="donutSegments"
      [legend]="legend"
    ></app-status-donut-chart>

    <app-projects-list [projects]="projects"></app-projects-list>
  </div>
</div>
